<div>
    <table class="ptoBoxTable">
        <thead>
            <tr>
                <th class="thBoxTop" colspan="9">
                    @DateTime.Now.Year PTO - 5 Days per Allotment
                </th>
            </tr>
            <tr class="ptoTR">
                <th>Year start</th>
                <th>Adjustment</th>
                <th>Allotted</th>
                <th>Taken</th>
                <th>Current Balance</th>
                <th>Future</th>
                <th>Pending Request</th>
                <th>Remaining Allotment</th>
                <th>End Of Year Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr class="ptoTR">
                <td>
                    @DateTime.Now.Hour Hours
                    <br />
                    @DateTime.Now.Day Days
                </td>
                <td>
                    @DateTime.Now.Hour
                    <br />
                    Hours
                    <br />
                    @DateTime.Now.Day
                    <br />
                    Days
                </td>
                <td>
                    @DateTime.Now.Hour Hours
                    <br />
                    @DateTime.Now.Day Days
                </td>
                <td>
                    @DateTime.Now.Hour Hours
                    <br />
                    @DateTime.Now.Day Days
                </td>
                <td>
                    @DateTime.Now.Hour Hours
                    <br />
                    @DateTime.Now.Day Days
                </td>
                <td>
                    @DateTime.Now.Hour Hours
                    <br />
                    @DateTime.Now.Day Days
                </td>
                <td>
                    @DateTime.Now.Hour Hours
                    <br />
                    @DateTime.Now.Day Days
                </td>
                <td>
                    @DateTime.Now.Hour
                    <br />
                    Hours
                    <br />
                    @DateTime.Now.Day
                    <br />
                    Days
                </td>
                <td>
                    @DateTime.Now.Hour Hours
                    <br />
                    @DateTime.Now.Day Days
                </td>
            </tr>
        </tbody>
    </table>
    <br />
</div>
